/**
 * Docs: Main (Grid)
 */

// Config
$navHeight: 3.5rem;

// Main grid

body > main {
  padding-top: var(--block-spacing-vertical);

  @if map-get($breakpoints, "lg") {
    @media (min-width: map-get($breakpoints, "lg")) {
      
      grid-column-gap: calc(var(--block-spacing-horizontal) * 1);
      display: grid;
      grid-template-columns: 200px auto;
    }
  }

  @if map-get($breakpoints, "xl") {
    @media (min-width: map-get($breakpoints, "xl")) {
      //--block-spacing-horizontal: calc(var(--spacing) * 2);
    }
  }

  &.container-fluid {
    padding-top: 0;
    padding-left: var(--block-spacing-horizontal);
  }

  > aside,
  div[role="document"] {
    min-width: 0;
    height: 100%;
  }

  > div[role="document"] {
    padding-top: var(--block-spacing-vertical);
  }
}

// External links
div[role="document"] section a[href*="//"]:not([href*="https://picocss.com"]):not([role])::after
{
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-image: var(--icon-external);
  background-position: top center;
  background-size: 0.66rem auto;
  background-repeat: no-repeat;
  content: "";
}

// Embedded SVG
svg {
  height: 1rem;
}
